@charset "ISO-8859-1";

header {
	background-color: black;
	color: white;
	height: 50px;
	text-align: center;
}

h1 {
	height: 20px;
}

.form {
	margin: 20px;
	outline: 1px solid #cccccc;
}

.form-tittle {
	margin-top: 20px;
	margin-bottom: 20px;
}

#id {
	margin-top: 100px;
}

.mb-4 {
	margin-bottom: 3rem !important;
}

.mt-4 {
	margin-top: 3rem !important;
}